<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:50:00" openTimeout="00:50:00" sendTimeout="00:50:00" receiveTimeout="00:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        <binding name="WS_SgkIseGirisPortBinding" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceBehavior"/>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://uyg.sgk.gov.tr/WS_SgkTescil4a/WS_SgkIseGirisService"
                binding="basicHttpBinding" bindingConfiguration="WS_SgkIseGirisPortBinding"
                contract="SgkService.WS_SgkIseGiris" name="WS_SgkIseGirisPort" />
    </client>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="ESgk.WorkIn.Services.WorkInService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="ESgk.WorkIn.Interfaces.IWorkInService"/>
        <endpoint address="" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="ESgk.WorkIn.Interfaces.IWorkInService"/>
      </service>
      <service name="ESgk.WorkIn.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="ESgk.WorkIn.IService1"/>

      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".svc"/>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>


</configuration>
